/* Flexbox */


/* parent */
.flex-container {
	flex-direction: inline-row;
	display: -webkit-flex;
	display: flex;
	max-width: 100%;
	width: 1280px;
	/* */
	max-height: 100%;
	height: 684.50px;  
	background-color: Silver;
	justify-content: center;
	align-items: center;
	border: 1px solid purple;
}

/* child */
.flex-item.basement  {
	flex-direction: row;
	max-width: 100%;
	width: 1280px;
	/* */
	max-height: 100%;
	height: 684.50px;
	background-color: pink;
	justify-content: center;
	align-items: stretch;
	border: 1px solid orange;
}

.c01,
.c02,
.c03,
.c04,
.c05,
.c06
 {
	padding: 0;
	margin: 0;
	list-style: none;
	background: tomato;
	border: 1px solid pink;
	color: white;
	font-weight: lighter;
	font-size: 2em;
	text-align: center;
	